# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production Builds
client/dist/
dist/

# Environment Variables & Secrets
.env
server/.env
*.local

# Logs & Runtime files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
